@font-face {
    font-family: "iconfont";
    /* Project id 3390785 */
    src: url('//at.alicdn.com/t/c/font_3390785_1gfryesnrol.woff2?t=1663307189316') format('woff2'),
        url('//at.alicdn.com/t/c/font_3390785_1gfryesnrol.woff?t=1663307189316') format('woff'),
        url('//at.alicdn.com/t/c/font_3390785_1gfryesnrol.ttf?t=1663307189316') format('truetype');
}

[class*='zt-icon-'] {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.zt-icon-clear:before {
    content: "\e600";
}


.zt-icon-ellipsis:before {
    content: "\e708";
}

.zt-icon-double-arrow-right:before {
    content: "\e6c4";
}

.zt-icon-double-arrow-left:before {
    content: "\e6c5";
}

.zt-icon-star-fill:before {
    content: "\e9a1";
}

.zt-icon-star:before {
    content: "\e9a2";
}

.zt-icon-loadding-dot:before {
    content: "\e7c5";
}

.zt-icon-loading:before {
    content: "\e676";
}

.zt-icon-loading-circle:before {
    content: "\e60d";
}

.zt-icon-share:before {
    content: "\e65f";
}

.zt-icon-comment:before {
    content: "\e891";
}

.zt-icon-eye:before {
    content: "\e633";
}

.zt-icon-eyeoff:before {
    content: "\e634";
}

.zt-icon-success:before {
    content: "\e8c3";
}

.zt-icon-error:before {
    content: "\e8c5";
}

.zt-icon-warning:before {
    content: "\e8c6";
}

.zt-icon-info:before {
    content: "\e67f";
}

.zt-icon-add:before {
    content: "\e664";
}

.zt-icon-close:before {
    content: "\e668";
}

.zt-icon-complete:before {
    content: "\e669";
}

.zt-icon-download:before {
    content: "\e66c";
}

.zt-icon-edit:before {
    content: "\e66e";
}

.zt-icon-like:before {
    content: "\e66f";
}

.zt-icon-file:before {
    content: "\e671";
}

.zt-icon-good:before {
    content: "\e673";
}

.zt-icon-meh:before {
    content: "\e677";
}

.zt-icon-navigation:before {
    content: "\e67a";
}

.zt-icon-select:before {
    content: "\e67e";
}

.zt-icon-switch:before {
    content: "\e680";
}

.zt-icon-setting:before {
    content: "\e67d";
}

.zt-icon-upload:before {
    content: "\e682";
}

.zt-icon-arrow-left-bold:before {
    content: "\e685";
}

.zt-icon-arrow-up-bold:before {
    content: "\e686";
}

.zt-icon-arrow-down-bold:before {
    content: "\e687";
}

.zt-icon-arrow-right-bold:before {
    content: "\e688";
}

.zt-icon-select-bold:before {
    content: "\e689";
}

.zt-icon-comment-fill:before {
    content: "\e68a";
}

.zt-icon-check-fill:before {
    content: "\e68b";
}

.zt-icon-user-fill:before {
    content: "\e68d";
}