.zt-tabs {
  &-nav {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid var(--border);
    &-item {
      display: inline-block;
      padding: 8px 16px;
      cursor: pointer;
      transition: color .3s ease-out;
      &:hover{
        color: var(--primary);
      }
    }
    &-active-line{
      position: absolute;
      left: 0;
      bottom: -2px;
      height: 2px;
      background: var(--primary);
      transition: all .3s ease-out;
    }
  }
  &-pane{
    padding:10px 0
  }
}
