:root {
    --primary: #2d8cf0;
    --info: #909399;
    --success: #2bb669;
    --warning: #FFB800;
    --danger: #ec4141;
    --joker: #009688;
    --dark: #303133;
    --light: #fff;

    /* 字体颜色 */
    --text: #fff;
    --text-color: #515a6e;
    --text-title: #17233d;
    --text-bold: #1f4e79;

    /**字体背景色*/
    --text-bg-dark: #585e6b;
    --text-bg-info: #f0faff;
    --text-bg-success: #edfff3;
    --text-bg-warning: #fff9e6;
    --text-bg-danger: #ffefe6;

    /* 背景颜色 */
    --bg-color: #eaeef2;

    /*边框颜色*/
    --border-tint: #767676;
    --border: #DCDFE6;
    --border-tt: #e8eaec;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}