:root {
  --primary: #2d8cf0;
  --info: #909399;
  --success: #2bb669;
  --warning: #ffb800;
  --danger: #ed4014;
  --normal: #e6ebf1;
  --dark: #303133;
  --light: #fff;
  --joker: #009688;

  /* 文字 */
  --primary-text: #303133;
  --common-text: #606266;
  --plac-text: #A8ABB2;
  --disabled-text: #C0C4CC;

  /**不同类型背景色*/
  --info-bg: #f0faff;
  --success-bg: #edfff3;
  --warning-bg: #fff9e6;
  --danger-bg: #ffefe6;
  /* 状态背景色 */
  --hover-bg: #f5f7fa;
  --disabled-bg: #f5f7fa;
  /* 容器背景色 */
  --darker-bg1: #cccccc;
  --darker-bg2: #E6E8EB;
  --darker-bg3: #EBEDF0;
  --darker-bg4: #F2F3F5;
  /* 边框 */
  --base-border: #dcdfe6;
  /* 阴影 */
  --box-shadow: rgb(0, 0, 0, .2);
  --font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  --font-size-base: 14px;
}