/* 基础淡入淡出 */
.base-fade-enter-active,
.base-fade-leave-active {
    transition: opacity .3s ease-out;
}

.base-fade-enter,
.base-fade-leave-to {
    opacity: 0;
}

/* message消息提示动画 淡入或离开 */
.message-fade-enter-to,
.message-fade-leave {
    transform: translateY(0px);
    opacity: 1;
}

.message-fade-enter-active,
.message-fade-leave-active {
    transition: all 0.3s ease-out;
}

.message-fade-enter,
.message-fade-leave-to {
    transform: translateY(-30px);
    opacity: 0;
}

/* loading循环旋转 */
.loading-loop {
    display: inline-block;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* 对话框动画 */
.modal-fade-enter-active {
    animation: modal-fade-in .3s
}

.modal-fade-leave-active {
    animation: modal-fade-out .3s
}

@keyframes modal-fade-in {
    0% {
        transform: translate3d(0, -20px, 0);
        opacity: 0
    }

    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes modal-fade-out {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }

    100% {
        transform: translate3d(0, -20px, 0);
        opacity: 0
    }
}

/* tabPane切换动画 */
.tab-slide-enter-to,
.tab-slide-leave {
    transform: translateX(0);
    opacity: 1;
}

.tab-slide-enter-active,
.tab-slide-leave-active {
    transition: all 0.3s ease-out;
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 100%;
}

.tab-slide-enter {
    transform: translateX(100%);
    opacity: 0;
}

.tab-slide-leave-to {
    transform: translateX(-100%);
    opacity: 0;
}

/* 反向动画 */
/* 没有空格表示.tab-slide-enter.reverse在一个元素上，该元素必须同时又这两个class才生效 */
.tab-slide-enter.reverse {
    transform: translateX(-100%);
    opacity: 0;
}

.tab-slide-leave-to.reverse {
    transform: translateX(100%);
    opacity: 0;
}

/* Select选择器动画 */
.select-down-enter-active,
.select-down-leave-active {
    transition: all 0.3s ease-out;
}

.select-down-enter,
.select-down-leave-to {
    opacity: 0;
    transform: translateY(-80px) scaleY(0.2);
}

.select-down-enter.reverse,
.select-down-leave-to.reverse {
    opacity: 0;
    transform: translateY(80px) scaleY(0.2);
}

/* Drawer抽屉 动画*/
.drawer-slide-enter-active,
.drawer-slide-leave-active {
	transition: all 0.3s ease-in-out;
}
.drawer-slide-enter.right,
.drawer-slide-leave-to.right {
	transform: translateX(100%);
}
.drawer-slide-enter-to.right{
	transform: translateX(0);
}

.drawer-slide-enter.left,
.drawer-slide-leave-to.left {
	transform: translateX(-100%);
}
.drawer-slide-enter-to.left {
	transform: translateX(0);
}

.drawer-slide-enter.top,
.drawer-slide-leave-to.top {
	transform: translateY(-100%);
}
.drawer-slide-enter-to.top {
	transform: translateY(0);
}

.drawer-slide-enter.bottom,
.drawer-slide-leave-to.bottom {
	transform: translateY(100%);
}
.drawer-slide-enter-to.bottom {
	transform: translateY(0);
}