.zt-button-group {
	display: inline-block;

	.zt-button {
		border-radius: 0;
		border-right: 1px solid #fff;

		&:first-child {
			border-radius: 3px 0 0 3px;
		}

		&:last-child {
			border-radius: 0 3px 3px 0;
			border-right: none;
		}


	}
}