.zt-carousel {
  &-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  &-content {
    position: relative;
    height: 100%;
    transition: all .5s ease;
  }

  &-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background: rgba(0, 0, 0, .2);
    border-radius: 50%;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      background: rgba(0, 0, 0, .4);
    }

    &-prev {
      left: 15px;
    }

    &-next {
      right: 15px;
    }
  }

  &-indicator {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);

    &-item {
      display: inline-block;
      height: 24px;
      margin-right: 3px;
      cursor: pointer;

      &-rect {
        display: inline-block;
        width: 18px;
        height: 3px;
        border-radius: 1px;
        background: #8391a5;
        opacity: .3;
        transition: all .3s;

        &.active {
          opacity: 1;
          width: 24px;
        }
        &.hover{
          opacity: 1;
        }
      }
    }
  }
}